<div class="row form">
    <div class="col-6">
        <!-- Search -->
        <input type="text" class="form-control" placeholder="TODO Search" />
    </div>
    <div class="col-6">
        <!-- Filter -->
        <input type="text" class="form-control" placeholder="TODO Filter" />
    </div>
</div>
<div class="mt-4" *ngIf="employeeDisplayList">
    <div class="row mb-3" *ngFor="let employee of employeeDisplayList">
        <div class="col-4 text-center">
            <img class="profile-list" src={{baseUrl}}{{employee.photoUri}}>
        </div>
        <div class="col-8">
            <div class="row mt-4">
                <div class="col-12 mb-2 name"> {{employee.firstName}} {{employee.lastName}}</div>
                <div class="col-12"> {{employee.office.name}}</div>
            </div>
        </div>
    </div>
</div>