/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

  header {
     height: 60px;
     background-color: #323B42;
     color: white;
     text-align: center;
     padding: 20px;
  }

  .content {
    background-color: #eeeeee;
    padding: 20px;
    position: relative;
  }

  .login-form {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }

  footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #323B42;
    color: white;
    text-align: center;
    padding: 8px;
  }

  .btn-primary { 
      background-color: #817FFE !important; 
      border-color: #817FFE  !important; 
    }
