/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

$color-purple: #817FFE;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

  header {
     height: 60px;
     background-color: #323B42;
     color: white;
     text-align: center;
     padding: 20px;
  }

  .content {
    position: relative;
  }


  footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #323B42;
    color: white;
    text-align: center;
    padding: 8px;
  }

  .btn-primary { 
      background-color: $color-purple !important; 
      border-color: $color-purple  !important;
    }
