<!-- Header -->
<div *ngIf="authenticationService.getConnected();else noNavbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom" id="header">
        <div class="container">
            <a (click)="hideNavbarCollapse()" class="navbar-brand" [routerLink]="['/employee']">
                <span><b>{{headerTitlePart1}}</b> {{headerTitlePart2}}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" (click)="hideNavbarCollapse()">
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/employee/list']">Liste des employés</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/todo']">todo</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/todo']">todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ng-template #noNavbar>
    <header id="header">
        <div class="container header-title">
            <span><b>{{headerTitlePart1}}</b> {{headerTitlePart2}}</span>
        </div>
    </header>
</ng-template>