<div *ngIf="employeeDisplay">
    <!-- row -->
    <div class="row pt-3  mb-4">
        <div class="col-6 text-center">
                <img class="profile" src="assets/img/profile1.jpg">
        </div>
        <div class="col-6">
            <div class="mt-2">
                <h4>{{employeeDisplay.firstName}} {{employeeDisplay.lastName | uppercase}}</h4>
            </div>
            <div>{{employeeDisplay.email}}</div>
            <div>{{employeeDisplay.office?.name | uppercase}}</div>
        </div>
    </div>
    <!-- row - Occuptation - Status -->
    <div class="row mb-4">
        <div class="col-sm-12 text-center">
            <h5>{{employeeDisplay.occupation?.name}} - {{employeeDisplay.status?.name}}</h5>
        </div>
    </div>
    <!-- row - Date entrée -->
    <div class="row mb-2">
        <div class="col-sm-12">
            Date d'entrée : <b>{{employeeDisplay.hiringDate | date: 'dd/MM/yyyy'}}</b>
        </div>
    </div>
    <!-- row - Manager -->
    <div class="row mb-2">
        <div class="col-sm-12">
            Manager : <b>{{employeeDisplay.manager?.firstName}} {{employeeDisplay.manager?.lastName | uppercase}}</b>
        </div>
    </div>
    <!-- row - HR Manager -->
    <div class="row mb-2">
        <div class="col-sm-12">
            HR Manager : <b>{{employeeDisplay.humanResourceManager?.firstName}}
                {{employeeDisplay.humanResourceManager?.lastName | uppercase}}</b>
        </div>
    </div>
    <!-- row - Accès-->
    <div class="row mb-5">
        <div class="col-sm-12">
            Accès : <b>{{employeeDisplay.accessRights.toString()}}</b>
        </div>
    </div>
    <!-- row - Button Edit -->
    <div class="text-center">
        <div class="col-sm-12 text-center">
            <a [routerLink]="'/employee/edit'" class="btn btn-primary button-width">Edit profile</a>
        </div>
    </div>
</div>