<div class="rounded shadow shadow-sm login-form">
    <div class="form-group mt-4">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="pwd">
    </div>
    <div class="text-center mt-4">
        <button [routerLink]="'/employee'" type="submit" class="btn btn-primary btn-block">Sign In</button>
    </div>
</div>