$color-text: #403866;
$color-input: #e6e6e6;

.login-form-title {
  font-size: 28px;
  color: $color-text;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
}

.wrap-input {
  padding: 10px;
}

.input-login {
  background-color: $color-input;
  border: 1px solid $color-input;
  border-radius: 3px;
  color: $color-text;
  line-height: 1.2;
  font-size: 16px;
  display: block;
  height: 50px;
  font-weight: bold;
}
