<div id="loginForm" [ngStyle]="{'padding-top': loginFormHeightPosition }">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
        <span class="login-form-title">
            User Management
        </span>
        <div class="form-group row">
            <div class=" col-md-6 col-sm-12 col-xs-12 wrap-input">
                <input type="text" class="form-control input-login" formControlName="userName" placeholder="Username">
            </div>
            <div class=" col-md-6 col-sm-12 col-xs-12 wrap-input">
                <input type="password" class="form-control input-login" formControlName="password"
                    placeholder="Password">
            </div>
        </div>
        <!-- Buttons -->
        <div class="form-group row">
            <div class=" col-sm-12 col-xs-12 text-center">
                <button type="reset" class="btn btn-softeam button-login mx-2">Reset</button>
                <button type="submit" class="btn btn-softeam button-login mx-2">Login</button>
            </div>
        </div>
    </form>
</div>