<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="Console" xsi:type="Console" layout="${shortdate}T${time} - ${pad:padding=5:inner=${level:uppercase}} - ${pad:padding=20:fixedLength=True:alignmentOnTruncation=Right:inner=${callsite}} - ${message} - ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /><!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>
